<div class='w-1/2 h-auto mx-auto'>
  <h1>We've updated our privacy policy</h1>

  <div class='rounded-lg bg-blue-darker shadow-lg overflow-hidden border-t-8 border-orange'>
    <%= form_with scope: :consent, url: consent_path do |f| %>
      <div class='px-6 py-8 text-white leading-normal'>
        <p class='mb-4'>
          And we'd like you to review it.
        </p>
        <p class='mb-4'>
          To comply with various laws, we had to make numerous updates to our privacy policy. Please read through them carefully and agree to our new terms. <strong>If you are unable to do so, you will be disallowed from using our application.</strong> At any time when you wish to continue using our services, please come back and accept our privacy policy.
        </p>
        <%= f.label :agree do %>
          <%= f.check_box :agree %> I agree to the <%= link_to 'privacy policy', '#' %>
        <% end %>
      </div>
      <div class='px-6 py-4'>
        <%= f.button 'Confirm', type: :submit %>
        <%= f.button 'No, take me back' %>
      </div>
    <% end %>
  </div>
</div>
